<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>RosepadMC</title>
        <link>https://rosepadmc.github.io</link>
        <description>All about RosepadMC development</description>
        <%
            let news = await require("fs/promises").readdir(`${__dirname}/news`);
            news = news.map(a => Number(a.split(".")[0]));
            news = news.sort((a, b) => b - a);
            news = await Promise.all(news.map(
                a => require("fs/promises").readFile(`${__dirname}/news/${a}.txt`, 'utf8')
                    .then(b => [a, b])
            ));
            news = news.map(
                a => [a[0], a[1].split(/\n{2,}/g).map(a => a.trim()).filter(a => a.length)]
            );
        %>
        <% for (const $new of news) { %>
            <item>
                <title><%= $new[1][0] %></title>
                <description><%= $new[1][1] %></description>
                <link>https://rosepadmc.github.io/news/<%= $new[0] %>.html</link>
            </item>
        <% } %>
    </channel>
</rss>
