
/*
html {
    background: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    align-items: center;
    flex: 0 1;
    font: 18pt 'Ubuntu', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40pt;
    background: #111;
    box-shadow: 0 0 4pt black;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.here {
    background: #222;
}

div.spacer {
    height: 60pt;
}

div.spacer2 {
    height: 24pt;
}

h1 {
    color: #f44;
    text-shadow: 0 0 2pt #f44;
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-family: 'Comfortaa', cursive;
}

div.drawer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}

div.drawer > * {
    display: flex;
    flex-direction: column;
    flex: 0 1;
    min-width: 200pt;
    background-color: #111;
    margin: 2pt;
    padding: 6pt;
    border-radius: 12pt;
    margin-bottom: 8pt;
}

div.drawer h2 {
    color: #999;
}

div.drawer ul {
    text-align: left;
}

div.drawer .gone {
    opacity: 0;   
    margin: 0;
}

#downloads {
    min-width: 60%;
}

#downloads div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
}

#downloads > div > * {
    display: flex;
    text-decoration: none;
    color: black;
    background: white;
    margin: 4pt;
    padding: 8pt;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 16pt;
    justify-content: center;
}

#downloads div span {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    overflow: hidden;
    padding: 0;
}

#downloads div span > * {
    display: flex;
    flex: 1 0;
    height: 100%;
    padding-top: 8pt;
    padding-bottom: 8pt;
    text-decoration: none;
    color: black;
}

article a {
    color: white;
    text-decoration: none;
}

article time {
    font-style: italic;
    color: #888;
    font-size: 0.6rem;
    text-align: right;
}

.q {
    color: #aaa;
}
*/

@import "styles/menu.scss";
@import "styles/mainpage.scss";
@import "styles/news.scss";
@import "styles/qna.scss";

:root {
    --background: #0b0000;
    --color-text: #fff;
    --color-text-1: #aaa;
    --color-brand: rgb(240, 44, 76);
    --color-brand-1: rgb(211, 34, 63);
    --font: 1.4rem "Ubuntu", monospace;

    --link-color: #aaf;

    --ext-lilypad: #5c5;
    --ext-lb: #080;
    --ext-lpuj: #47c;
    --ext-lpujs: #49c;
}

body {
    font: var(--font);
    background: var(--background);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

subh1 {
    text-align: center;
    display: block;
    margin: 12pt;
}
