<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= description %>">
        <link rel="icon" href="/img/rosepad.png">
        <link rel="stylesheet" href="/style.css?v=3">
        <link rel="alternate" type="application/rss+xml" title="RSS feed" href="https://rosepadmc.github.io/feed.rss">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Ubuntu&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="helper4"></div>
            <div class="helper"></div>
            <div class="helper2"></div>
            <div class="helper3"></div>
            <span>Rosepad</span><img src="/img/rosepad.png">
            <div class="alist">
                <a style="top: 5rem" <% if (fragment == "index") { %>class="here"<% } %> href="/">Home</a>
                <a style="top: 8rem" <% if (fragment == "news") { %>class="here"<% } %> href="/news.html">News</a>
                <a style="top: 11rem" <% if (fragment == "qna") { %>class="here"<% } %> href="/qna.html">Q&amp;A</a>
            </div>
            <a style="top: 20rem" href="https://github.com/RosepadMC/Rosepad/releases/tag/beta">Download Rosepad</a>
        </nav>
        <div class="spacer"></div>
        <%- await include(`pages/${fragment}`, { require, ...forward }) %>
    </body>
</html>
