<div class="drawer">
    <h1>RosepadMC</h1>
    <subh1>Home for Rosepad development</subh1>
    <div class="center"><div class="item-container">
    <section class="item">
        <h2>Better client</h2>
        <p>
            <span style=color:var(--color-brand)>Rosepad</span> adds QOL features widely accepted by the community
            <ul>
                <li>Item tooltips</li>
                <li>Negative items</li>
                <li>Obsidian pickaxe fix</li>
            </ul>
            <span style=text-align:left;margin-left:8pt>...and more...</span>
        </p>
    </section>
    <section class="item">
        <h2>Multiplayer</h2>
        <p>
        <span style=color:var(--color-brand)>Rosepad</span> improved upon <span style=color:var(--ext-lpuj)>LPUJ</span> to deliver better multiplayer experience by adding features and fixes. Thanks to that <span style=color:var(--color-brand)>Rosepad</span> became the #1 client amongst <span style=color:var(--ext-lilypad)>Lilypad</span> playerbase
        </p>
    </section>
    <section class="item">
        <h2>Mods</h2>
        <p>
        <span style=color:var(--color-brand)>Rosepad</span> includes built-in mod loader, allowing enthusiasts to express themselfes by adding new content to the game without making their mods incompatible
        </p>
    </section>
    <section class="item">
        <h2>Community</h2>
        <p>
        Starting with <span style=color:var(--ext-lpuj)>LPUJ</span>, <span style=color:var(--ext-lilypad)>Lilypad</span> community continued to enchance gameplay experience for everybody. All of the projects are free for anyone to use
        </p>
    </section>
    </div></div>
</div>
<header id="downloads">
    <h2>Downloads</h2>
    <div class="alist">
        <a style=background:var(--color-brand) href="https://github.com/RosepadMC/Rosepad/releases/tag/beta">Rosepad</a>
        <a style=background:var(--ext-lb) href="https://github.com/Vladg24YT/LilyBukkit/releases/tag/latest">LilyBukkit</a>
        <span>
            <a style=background:var(--ext-lpuj);justify-content:flex-end href="https://github.com/AlphaVerUnofficialJars/LilypadClient/releases/tag/v106">LP</a>
            <a style=background:var(--ext-lpujs) href="https://github.com/AlphaVerUnofficialJars/LilypadServer/releases/tag/v105">UJ</a>
        </span>
    </div>
</header>
