<%

let news = await require("fs/promises").readdir(`${__dirname}/news`);
news = news.map(a => Number(a.split(".")[0]));
news = news.sort((a, b) => b - a);
news = news.slice(0, 5);
news = await Promise.all(news.map(
    a => require("fs/promises").readFile(`${__dirname}/news/${a}.txt`, 'utf8')
        .then(b => [a, b])
));
news = news.map(
    a => [a[0], a[1].split(/\n{2,}/g).map(a => a.trim()).filter(a => a.length)]
);

%>

<% for (const article of news) { %>
    <article>
        <a href="/news/<%= article[0] %>.html">
            <h2><%= article[1][0] %></h2>
            <!-- <time datetime="2022-09-23">Published at 23 aug. 2022</time> -->
            <p><%= article[1][1] %></p>
        </a>
    </article>
<% } %>
