<header class="qna" id="are-jars-safe">
    <p class="q">
        Q: Are jars from alphaver channel safe?
    </p>
    <p class="a">
        A: Yes, they are completely safe
    </p>
</header>
<header class="qna" id="make-a-server">
    <p class="q">
        Q: How do I make a server?
    </p>
    <p class="a">
        A: Download JRE 8 (Java Runtime), <a href="https://github.com/RosepadMC/Rosepad/releases/download/beta/RosepadServer.jar">Rosepad server</a>
        and then run<br><span class="code">$ java -Xmx2G -Xms512M -jar server.jar</span><br>
        If you want to use bukkit plugins, try <a href="https://github.com/LilyBukkit/LilyBukkit-Core/releases/latest">LilyBukkit</a><br>
        <a href="https://alphaver.fandom.com/wiki/Hosting_a_server">Full tutorial here</a>
    </p>
</header>
<header class="qna" id="is-there-hub">
    <p class="q">
        Q: How do I access hub?
    </p>
    <p class="a">
        A: There's no hub code in the jars, therefore you can't
    </p>
</header>
<header class="qna" id="get-the-code-lilypad">
    <p class="q">
        Q: What's the code for Lilypad?
    </p>
    <p class="a">
        A: With Rosepad you can type your username into the key field and it will generate
        one for you. If you're using vanilla, register <a href="https://exalpha-dev.github.io/g_registration.html">here</a>
    </p>
</header>
<header class="qna" id="which-client-should-i-use-lilypad">
    <p class="q">
        Q: Which client should I use?
    </p>
    <p class="a">
        A: As for now, Rosepad is the most up-to-date (and the only maintained) Lilypad client
    </p>
</header>
<header class="qna" id="have-you-seen-the-new-vid">
    <p class="q">
        Q: Have you seen the latest video?
    </p>
    <p class="a">
        A: Yes
    </p>
</header>

