<div class=spacer2></div>
<header id="are-jars-safe">
    <p class="q">
        Q: Are jars from alphaver channel safe?
    </p>
    <p class="a">
        A: Yes, they are completely safe.
    </p>
</header>
